.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 2rem 0rem;
  min-height: 100vh;
  background-color: #ebecd0;
}

.title {
  font-size: 1.5rem;
  color: black;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  text-align: center;
  padding: 0px 0px 5px
}

.description {
  font-size: 1.1rem;
  color: black;
  width: 100%;
  font-family: var(--font-mono);
  text-align: center;
  padding: 10px 0px ;
}

.board { 
  border: 2px solid black;
}

.bottomContainer {
  padding: 0px 1px 20px;
  bottom:0;
  text-align: center;
}


.newOpeningButton {
  font-size: 1.5rem;
  color: black;
  font-family: var(--font-mono);
  background-color: #779556;
  padding: 10px 30px;
  border-radius: 3px;
}


.footer {
  background-color: #ebecd0;
  /* border-top: 1px solid #ebecd0; */
  text-align: center;
  padding: 50px 0px 0px 0px;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  right: 0;
  height: 10px;
  /* width: 100%; */
  color: #abaeb3;
  font-size: .8rem;
  font-family: var(--font-mono);
  background-color: #ebecd0;
};
