.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 3rem;
  min-height: 100vh;
  background-color: #ebecd0;
}

.newOpeningButton {
  font-size: 1.5rem;
  color: black;
  font-family: var(--font-mono);
  background-color: #779556;
  padding: 10px 30px;
  border-radius: 3px;
}

.title {
  font-size: 1.5rem;
  color: black;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  text-align: center;
}

.description {
  font-size: 1.2rem;
  color: black;
  width: 100%;
  font-family: var(--font-mono);
  text-align: center;
}
