.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 3rem 0rem;
  min-height: 100vh;
  background-color: #ebecd0;
}

.newOpeningButton {
  font-size: 1.5rem;
  color: black;
  font-family: var(--font-mono);
  background-color: #779556;
  padding: 10px 30px;
  border-radius: 3px;
}
.bottomContainer {
  padding: 0px 10px 150px;
  bottom:0;
}
.title {
  font-size: 1.5rem;
  color: black;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  text-align: center;
}

.description {
  font-size: 1.1rem;
  color: black;
  width: 100%;
  font-family: var(--font-mono);
  text-align: center;
  padding: 0px ;
}

.board { 
  border: 2px solid black;
}

.footer {
  background-color: #ebecd0;
  /* border-top: 1px solid #ebecd0; */
  text-align: right;
  padding: 25px 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 13px;
  width: 100%;
  color: #abaeb3;
  font-size: .8rem;
  font-family: var(--font-mono);
};
